.banner {
  background: url("./Bg2.jpg"
    ) center center;
  height: 50vh;
  background-color: black;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.banner_info {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-top: 11.5vh;
  width: 23.5vh;
  min-width: 20vh;
  opacity: 0.9;
  border-radius: 8px;
  margin-left: 2rem;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.banner_info>button {
  background-color: #d07737;
  color: white;
  text-transform: inherit;
  margin-top: 10px;
  font-weight: 600;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
}

.banner_info>button:hover {
  background-color: white;
  color: #d07737;
  cursor: pointer;
}

.banner_info>h5 {
  margin-top: 10px;
}

.banner_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_searchButton {
  z-index: 0 !important;
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #d07737 !important;
  border-color: lightgray !important;
  border-radius: 0 !important;
}
