body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  width: 300px;
  margin: 10px auto;
  justify-content: center;
  display: flex;
}

.login1 {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  width: 400px;
  margin: 10px auto;
}


.login2 {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  width: 600px;
  margin: 10px auto;
}


.login3 {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  width: 700px;
  margin: 10px auto;
}

.profile_circle {
  border-radius: 100ch;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: right;
  align-items: right;
  border: 3px solid #ffc507e0;

}

th, td {
  padding: 20px;
}

th,
td {
  padding: 20px;
}

.m-1 {
  margin: 0.25rem !important;
}

.link {
  text-decoration: underline;
}

.signInButton {
  border-radius: 30px;
  border-color: lightgray;
  margin: 30px;
  margin-left: 50px;
  padding: 6px 24px;
  border-style: solid;
  cursor: pointer;
}

.signInButton:hover {
  border-color: #d07737;
}

.loginText {
  text-transform: uppercase;
}

.createAccountBtn {
  border-radius: 30px;
  border-color: lightgray;
  margin: 15px;
  margin-left: 100px;
  padding: 6px 24px;
  border-style: solid;
  cursor: pointer;
}

.createAccountBtn:hover {
  border-color: #d07737;
}
