header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;
  width: 100%;
  top: 0;
}

.header_icon {
  object-fit: contain;
  height: 5vh;
  margin-left: 20px;
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.header_center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}

.header_center>input {
  border: none;
  padding: 10px;
  width: 20vw;
  outline-width: 0;
}

#dropdown {
  background-color: transparent !important;
  position: relative;
  display: inline-block;
  border: transparent !important;
}

#dropdown:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: -3px;
  right: -76px;
  background-color: #ffffff;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d07737;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.navbar {
  background-color: #e8f1fe;
  border-bottom: 1px solid #d1e4fc;
  padding: 30px 0;
}

.button-primary {
  background-color: pink;
}

.advancedSearchBtn {
  font-weight: bold;
}


.advancedSearchBtn:hover {
  color: #d07737;
}

.avatar:hover {
  color: #636363;
}
