/* Media Queries */
@media screen and (max-width: 855px) {
  .advanced-src-wrapper {
    display: none !important;
  }

  .language-select {
    display: none !important;
  }

  .dropdown-wrapper {
    width: 75px !important;
  }

  .header_right {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 660px) {
  .header_center {
    display: none !important;
  }
}

@media screen and (max-width: 430px) {
  .logo-container {
    display: none !important;
  }

  nav {
    justify-content: end !important;
  }
}

nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;
  width: 99%;
  top: 0;
  margin-bottom: 15px;
}

.logo-container {
  padding-right: 2.5%;
}

.language-select {
  display: inline-flex;
  margin-right: 7.5%;
}

.logo-container>a>img {
  padding-left: 20px;
  flex: 1 1 auto;
  width: 20rem;
  align-items: baseline;
}

.header_center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  margin-top: 12.5px;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7.5px;
  margin-right: 10px;
}

.header_center>input {
  border: none;
  padding: 10px;
  width: 20vw;
  outline-width: 0;
}

.advanced-src-wrapper>a {
  width: 100%;
}

.advanced-src-wrapper {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.advanced-src-wrapper:hover {
  color: #d07737;
}

.advanced-src-wrapper>a>p {
  text-align: right;
  font-weight: 500;
  white-space: nowrap;
}

.dropdown-wrapper {
  display: flex;
  width: 150px;
  position: relative;
}

.avatar {
  transition: color .25s ease;
}

.avatar:hover {
  cursor: pointer;
  color: #636363;
  transition: color .25s ease;
}

.dropdown-options {
  border: 1.5px solid rgb(217, 217, 217);
  display: flex;
  flex-flow: column nowrap;
  color: black;
  position: absolute;
  top: 120%;
  right: 5%;
  background-color: white;
  z-index: 1000 !important;
  font-weight: 425;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .25);
}

.dropdown-options>a {
  cursor: pointer;
  padding-left: 5px;
  transition: color .05s ease, font-weight .05s ease;
}

.dropdown-options>a:hover {
  font-weight: 650;
  color: #d07737;
  transition: all .05s ease;
}
