.search {
  top: 137px;
  position: absolute;
  left: 38%;
  width: 500px;
}

.search>h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
}

.search>input {
  width: 539px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 10px;
  top: 385px;
  border: None;
}

.search>input:focus {
  outline-width: 0;
}

.search>button {
  position: absolute;
  left: 0;
  top: 435px;
  text-transform: inherit !important;
  background-color: #d07737;
  color: white;
  width: 579px;
  border-radius: 0;
  opacity: 0.95;
}

.search>button:hover {
  background-color: white;
  color: #d07737;
}
