.detail .detail-box {
  position: relative;
}

.detail .detail-box .detail-img {
  position: relative;
  overflow: hidden;
}

.detail .detail-box .detail-overlay {
  text-align: center;
  display: -ms-flexbox !important;
  display: flex !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.detail .detail-box:hover .detail-overlay {
  opacity: 1;
}

.detail .detail-box .detail-img img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.detail .detail-box:hover .detail-img img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.detail .detail-box .detail-overlay-details {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.detail .detail-details {
  padding: 1.5rem 0;
  text-align: center;
}

.detail-container {
  position: relative;
  background: #FFF;
  margin: 40px auto;
  max-width: 1170px;
  padding: 30px;
}

.mfp-close-btn-in .ajax-container.bg-dark .mfp-close, .mfp-close-btn-in .ajax-container.bg-dark-1 .mfp-close, .mfp-close-btn-in .ajax-container.bg-dark-2 .mfp-close, .mfp-close-btn-in .ajax-container.bg-dark-3 .mfp-close, .mfp-close-btn-in .ajax-container.bg-dark-4 .mfp-close {
  color: #fff;
  opacity: .65;
}

.mfp-close-btn-in .ajax-container.bg-dark-0 .mfp-close:hover, .mfp-close-btn-in .ajax-container.bg-dark-1 .mfp-close:hover, .mfp-close-btn-in .ajax-container.bg-dark-2 .mfp-close:hover, .mfp-close-btn-in .ajax-container.bg-dark-3 .mfp-close:hover, .mfp-close-btn-in .ajax-container.bg-dark-4 .mfp-close:hover {
  opacity: 1;
}

html[dir="rtl"] .mfp-content {
  text-align: right;
}

html[dir="rtl"] .mfp-close {
  left: 0px;
  right: auto;
}

.detail-list-style {
  padding: 0;
}

.detail-list-style > li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  padding-top: 12px;
  padding-bottom: 12px;
}

.detail-list-style.list-style-light > li {
  border-bottom: 1px solid rgba(250, 250, 250, 0.12);
}

.owl-theme.single-slideshow .owl-nav button.owl-prev, .owl-theme.single-slideshow .owl-nav button.owl-next {
  font-size: 17px;
  width: 45px;
  height: 45px;
  top: calc(50% - 22px);
}

.owl-theme.single-slideshow .owl-nav button.owl-prev {
  left: 10px;
}

.owl-theme.single-slideshow .owl-nav button.owl-next {
  right: 10px;
}

.owl-theme.single-slideshow .owl-stage {
  padding: 0;
}

.owl-theme .hero-wrap .hero-bg {
  background-attachment: inherit;
}

.owl-theme.single-slideshow .owl-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.owl-theme.single-slideshow .owl-dots .owl-dot.active span, .owl-theme.single-slideshow .owl-dots .owl-dot:hover span {
  border-color: #20c997;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.owl-theme.single-slideshow .owl-dots .owl-dot.active span:after, .owl-theme.single-slideshow .owl-dots .owl-dot:hover span:after {
  background-color: #20c997;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  border-color: #20c997;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.owl-theme .owl-dots .owl-dot.active span:after, .owl-theme .owl-dots .owl-dot:hover span:after {
  background-color: #20c997;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.owl-theme.owl-light .owl-dots .owl-dot span:after {
  background-color: rgba(250, 250, 250, 0.5);
}

.owl-theme.owl-light .owl-dots .owl-dot.active span:after, .owl-theme.owl-light .owl-dots .owl-dot:hover span:after {
  background-color: #20c997;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.owl-theme.owl-light .owl-nav button.owl-prev, .owl-theme.owl-light .owl-nav button.owl-next {
  background-color: rgba(250, 250, 250, 0.3);
  color: #fff;
}

.owl-theme.owl-light .owl-nav [className*='owl-']:hover:not(.disabled) {
  background-color: rgba(250, 250, 250, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}