/* Media Queries */
@media screen and (max-width: 1000px) {
  .right-container {
    display: none !important;
  }

  .searchResult {
    width: 1000px !important;
  }
}

.search-wrapper {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: space-evenly;
}

.right-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.map-section {
  display: flex;
  flex-flow: column nowrap;
  padding: 2.5%;
  overflow: hidden;
  flex: 1 1 auto;
}

.review-section {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 2.5%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 16px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  height: 150px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  padding-right: 10px;
}
