.SearchPage_info {
  padding: 1000px;
}

.SearchPage_info>p {
  margin-bottom: 10px;
  font-size: 14px;
}

.SearchPage_info>h1 {
  margin: 30px;
}

.SearchPage_info>button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
  border-color: lightgray;
  color: black;
}

.SearchPage_info>button:hover {
  color: black;
  border-color: #d07737;
}

.mapDetailsPage {
    margin: auto;
    width: 50%;
    padding: 10px;
}
