@media screen and (max-width: 1000px) {
  .searchResult_infotop>label {
    display: None;
  }
}


.searchResult {
  display: flex;
  flex: 2 1 auto;
  position: relative;
  opacity: 1;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 16px;
  max-width: 65vw;
  overflow: clip;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.searchResultImg {
  display: flex;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}

.searchResult_infotop {
  display: flex;
  flex-flow: column wrap;
  width: 40vw;
  margin: 0 20px 15px 20px;
}

.searchResultImg>img {
  margin: auto;
  width: 75vw;
  height: 55.5vh;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease;
}

img:hover {
  opacity: 0.85;
  transition: all 0.5s ease;
}

.searchResult_info {
  display: flex;
  flex: 1 1 auto;
}

.searchResult_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult_heart {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}

.searchResult_heart:hover {
  color: red;
  transform: scale(1.25);
  transition: all .5s ease;
}

.searchResult_infotop>h3 {
  font-weight: 1000;
  font-size: 25px;
  margin-top: 10%;
}

#description {
  margin-top: 5%;
  margin-bottom: 5%;
}

.searchResult_infotop>p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult_infotop>h4 {
  font-size: 13px;
  margin-top: 10px;
  font-weight: 400;
}

.searchResult_infotop>h5 {
  font-size: 13px;
  margin-top: 10px;
  color: gray;
}

.searchResult_infobottom {
  display: flex;
  font-size: 30px;
}

.details {
  font-weight: 500;
  font-size: 14px;
  color: rgb(30, 30, 30);
}

.searchResult_infotop>label {
  font-weight: 800;
  margin-top: 10%;
  margin-bottom: 15px;
}
