.searchResult {
  display: flex;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  opacity: 1;
  cursor: pointer;
  align-content: center;
}

.searchResult>img {
  flex: 1 1 auto;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 560px;
  min-width: 0px;
  max-width: 560px;
  height: 100%;
  overflow: hidden;
}

img:hover {
  opacity: 0.85;
}

.searchResult_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult_heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.searchResult_infotop {
  width: 40vw;
}

.searchResult_infotop>h3 {
  font-weight: 1000;
  font-size: 25px;
  margin-top: 10px;
}

.searchResult_infotop>p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult_infotop>h4 {
  font-size: 13px;
  margin-top: 10px;
  font-weight: 400;
}

.searchResult_infotop>h5 {
  font-size: 13px;
  margin-top: 10px;
  color: gray;
}

.searchResult_infobottom {
  display: flex;
  font-size: 30px;
}

.searchResults_Other {
  text-align: right;
}

.searchResults_Other {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.details {
  font-weight: 500;
  font-size: 14px;
  color: rgb(30, 30, 30);
}
